@import url('https://fonts.cdnfonts.com/css/santa-cruze');
@import url('https://fonts.cdnfonts.com/css/quick-fox');
@import url('https://fonts.cdnfonts.com/css/infinite-realities');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

:root {
    --fontTitle: 'Santa Cruze', sans-serif;
    --fontP: 'Quick-Fox', sans-serif;
    --fontA: 'Infinite Realities', sans-serif;
    --filter: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: .6rem 2rem;
    overflow: hidden;
}

header .logoPage {
    object-fit: cover;
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 50%;
}

/* header .backgroundPrueba {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #4A5FF4;
    left: 50%;
    z-index: 10;
    border-bottom-left-radius: 1.6rem;
    box-shadow: 0px 0px 1rem rgb(68, 68, 255, .1);
} */

header nav ul {

    display: flex;
    align-items: center;
    gap: 1rem;
    z-index: 100;
}

header nav ul .spanA {

    position: relative;
    height: 2rem;
    width: .4rem;
}

header nav ul .spanA::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 1.360rem;
    left: .1rem;
    top: .3rem;
    /* transform: rotate(20deg); */
    margin: 0 auto;
    /* background-color: rgba(230, 230, 230, 0.2); */
    background-color: #324fcc6c;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    /* color: rgb(255, 255, 255); */
    color: #ffffffe3;
    font-family: var(--fontTitle);
    transition: 600ms;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

header nav ul li a:hover {
    /* color: rgba(245, 245, 245, 0.9); */
    /* color: rgb(230, 230, 255, .9); */
    color: #3551cf;
}

header .hamburger {
    display: none;
}

header nav ul .flexRedes {
    background-color: #3551cf17;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 3rem;
    gap: 1rem;

    margin-left: 4rem;
    border-left: 1px solid #3551cf85;
    border-bottom: 1px solid #3551cf5d;
}



header nav ul .flexRedes p {
    font-family: var(--fontTitle);
    color: #5d78f5;
}

header nav ul .flexRedes a {
    text-decoration: none;
    color: #5d78f5;
    transition: 600ms;
    font-size: 1.3rem;
}

header nav ul .flexRedes a:hover {
    transform: scale(1.1);
    color: #a9b9ff;
}

/* END HEADER */

/* MAIN */

.backgroundOneMain {
    background-image: url(../img/prueba2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

.backgroundOneMain .conteiner {
    background-color: #0000007c;
    height: 100%;
    width: 100%;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backgroundOneMain .conteiner .btn {
    font-family: var(--fontTitle);
    color: rgb(252, 252, 252);
    text-decoration: none;
    background-color: #3551cf;
    width: max-content;
    padding: .6rem 4rem;
    border: 1px solid transparent;
    transition: 600ms;
    margin-top: 2rem;
    border-radius: 4px;
}

.backgroundOneMain .conteiner .btn:hover {
    /* background-color: #5070ff73; */
    border: 1px solid #fcfcfc;
}

.backgroundOneMain .conteiner .prOne {
    /* background-color: #a5a5a5; */
    height: max-content;
    display: flex;
    height: 100%;
    align-items: end;
    justify-content: center;
    margin-bottom: 6rem;
}

.backgroundOneMain .conteiner .prOne i {
    color: #5d78f5;
    font-size: 2.6rem;
    transition: 600ms;
}

.backgroundOneMain .conteiner .prOne i:hover {
    color: rgb(252, 252, 252)
}

.backgroundOneMain h1 {
    font-family: var(--fontTitle);
    font-size: 3.2rem;
    color: #3551cf;
}

.backgroundOneMain p {
    font-family: var(--fontA);
    color: rgba(138, 165, 255, 0.849);
    margin-top: .6rem;
    font-weight: 100;
}

/* SECTION backgroundTwoMain */

.backgroundTwoMain {
    /* background-image: url(../img/imgPrueba2.jpg);
    background-size: cover; */
    background: hsla(236, 100%, 8%, 1);

    background: linear-gradient(90deg, hsla(236, 100%, 8%, 1) 0%, hsla(211, 100%, 28%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(236, 100%, 8%, 1) 0%, hsla(211, 100%, 28%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(236, 100%, 8%, 1) 0%, hsla(211, 100%, 28%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#000328", endColorstr="#00458E", GradientType=1);
    height: max-content;
}

.backgroundTwoMain h2 {
    color: rgb(252, 252, 252);
    padding-top: 2rem;
    font-family: var(--fontTitle);
    text-align: center;
}

.backgroundTwoMain .lineHr {
    width: 20%;
    border-color: #fcfcfc1c;
    margin: 0 auto;
}

/* CARD PRODUCTS */

.backgroundTwoMain .conteinerCards {
    /* background-color: #00000042; */
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem 2rem;
    gap: 1.2rem;
    margin-top: 1rem;
}

.backgroundTwoMain .conteinerCards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .6rem;
    background-color: #3551cf38;
    padding-bottom: .4rem;
    color: rgb(252, 252, 252);
    font-family: var(--fontTitle);
}

.backgroundTwoMain .conteinerCards .card h3 {
    color: #9caefd;
    letter-spacing: 2px;
}

.backgroundTwoMain .conteinerCards .card p {
    letter-spacing: 1px;
}

.backgroundTwoMain .conteinerCards .card .h3 {
    font-family: var(--fontA);
}


.backgroundTwoMain .conteinerCards .card .btn {
    font-family: var(--fontTitle);
    color: rgb(252, 252, 252);
    text-decoration: none;
    background-color: #3551cf;
    width: max-content;
    padding: .6rem 4rem;
    border: 1px solid transparent;
    transition: 600ms;
    border-radius: 4px;
}

.backgroundTwoMain .conteinerCards .card .btn:hover {
    background-color: #5070ff73;
    border: 1px solid #fcfcfc;
}

.backgroundTwoMain .conteinerCards .card .imgProduct1 {
    background-image: url(../img/imgProduct1.jpeg);
    background-size: cover;
    height: 10rem;
    width: 100%;
}

.backgroundTwoMain .conteinerCards .card .imgProduct2 {
    background-image: url(../img/imgProduct2.jpeg);
    background-size: cover;
    height: 10rem;
    width: 100%;
}

.backgroundTwoMain .conteinerCards .card .imgProduct3 {
    background-image: url(../img/imgProduct3.jpeg);
    background-size: cover;
    height: 10rem;
    width: 100%;
}

.backgroundTwoMain .conteinerCards .card .imgProduct4 {
    background-image: url(../img/imgProduct4.jpeg);
    background-size: cover;
    height: 10rem;
    width: 100%;
}

.backgroundTwoMain .conteinerCards .card .imgProduct5 {
    background-image: url(../img/imgProduct5.jpeg);
    background-size: cover;
    height: 10rem;
    width: 100%;
}

.backgroundTwoMain .conteinerCards .card .imgProduct6 {
    background-image: url(../img/imgProduct6.jpeg);
    background-size: cover;
    height: 10rem;
    width: 100%;
}

.backgroundTwoMain .conteinerCards .card .imgProduct7 {
    background-image: url(../img/imgProduct7.jpeg);
    background-size: cover;
    height: 10rem;
    width: 100%;
}

.backgroundTwoMain .conteinerCards .card .imgProduct8 {
    background-image: url(../img/imgProduct8.jpeg);
    background-size: cover;
    height: 10rem;
    width: 100%;
}

.backgroundTwoMain .conteinerCards .card .imgProduct9 {
    background-image: url(../img/imgProduct9.jpeg);
    background-size: cover;
    height: 10rem;
    width: 100%;
}

.lineNav {
    display: none;
}


.backgroundThree {
    background-image: url(../img/imgSectionThree.png);
    background-repeat: no-repeat;
    padding: 2rem 2rem;
    display: flex;
    justify-content: center;

}

.backgroundThree .box {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 6rem;
    /* background-color: #0c13356c; */
}

.backgroundThree .box .imgMayorista,
.imgMinorista {
    background-image: url(../img/imgProduct3.jpeg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    height: 20rem;
    width: 20rem;
}

.backgroundThree .box .imgMayorista .dark,
.imgMinorista .dark {
    background-color: #0000007e;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backgroundThree .box .imgMinorista {
    background-image: url(../img/imgProduct2.jpeg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 20rem;
    width: 20rem;
}

.backgroundThree .box a {
    font-family: var(--fontTitle);
    color: #fcfcfc;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: #3551cf;
    transition: 600ms;
    text-transform: uppercase;
    padding: .6rem 2rem;
    border-radius: 4px;
    border: 1px solid transparent;
}

.backgroundThree .box a:hover {
    background-color: #1533b9ea;
    border: 1px solid #fcfcfc;
}




/* MEDIA QUERIES */

@media only screen and (max-width: 1000px) {

    header {
        padding: .4rem 1rem;
    }

    header nav {
        display: none;
    }

    .spanA {
        display: none;
    }

    .lineNav {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
        border-color: #3551cf6e;
    }

    header nav.active {
        display: flex;
        position: absolute;
        top: 6rem;
        left: 0;
        width: 100%;
        height: 100vh;
        padding: 1rem 1rem;
        background-color: rgb(20, 20, 20);
        z-index: 800;
    }

    header nav ul {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        z-index: 900;
        width: 100%;
        gap: .3rem;
    }

    header nav ul li a {
        font-size: 1.1rem;

    }

    header nav ul .flexRedes {
        justify-content: start;
        width: 100%;
        margin-left: 0;
        padding: 1.4rem 1rem;
    }

    header .hamburger {
        display: flex;
        background-color: #3551cf2f;
        width: 26px;
        height: 26px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2px;
        border-radius: 20%;
        transition: 600ms;
    }

    header .hamburger:hover {
        background-color: #3551cf83;
    }

    header .hamburger div {
        width: 16px;
        height: 2px;
        background-color: #fcfcfc;
        transition: 600ms;
    }

    .hamburger.active div:first-of-type {
        transform: rotate(45deg) translate(3px, 2px);
        background-color: #3551cf;
    }

    .hamburger.active div:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active div:last-of-type {
        transform: rotate(-45deg) translate(3px, -3px);

    }




    /* END HEADER */

    /* 
    .backgroundOneMain {

        background-image: url(../img/prueba2.jpg);

    } */

    .backgroundTwoMain .conteinerCards {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem .6rem;
        gap: .6rem;
    }

    .backgroundTwoMain .conteinerCards .card {
        padding-bottom: 0;
    }

    .backgroundTwoMain .conteinerCards .card .btn {
        width: 100%;
        text-align: center;
    }

    /* END TWO SECTION */

    .backgroundThree .box {
        display: grid;
        grid-template-columns: repeat(1, 50%);
        gap: 2rem;
        /* background-color: #0c13356c; */
    }

    .backgroundThree .box .imgMayorista {
        width: 20rem;
        height: 18rem;
    }

    .backgroundThree .box .imgMinorista {
        width: 20rem;
        height: 18rem;
    }

    /* END THREE SECTION */
}