@import url('https://fonts.cdnfonts.com/css/santa-cruze');
@import url('https://fonts.cdnfonts.com/css/quick-fox');
@import url('https://fonts.cdnfonts.com/css/infinite-realities');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

:root {
    --fontTitle: 'Santa Cruze', sans-serif;
    --fontP: 'Quick-Fox', sans-serif;
    --fontA: 'Infinite Realities', sans-serif;
    --filter: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: .6rem 2rem;
    position: relative;
    overflow: hidden;
}

header .logoPage {
    object-fit: cover;
    width: 5.2rem;
    height: 5.2rem;
}

/* header .backgroundPrueba {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #4A5FF4;
    left: 50%;
    z-index: 10;
    border-bottom-left-radius: 1.6rem;
    box-shadow: 0px 0px 1rem rgb(68, 68, 255, .1);
} */

header nav ul {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    z-index: 100;
}

header nav ul .spanA {

    position: relative;
    height: 2rem;
    width: .4rem;
}

header nav ul .spanA::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 1.360rem;
    left: .1rem;
    top: .3rem;
    transform: rotate(20deg);
    margin: 0 auto;
    /* background-color: rgba(230, 230, 230, 0.2); */
    background-color: #324fcc6c;
    ;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    /* color: rgb(255, 255, 255); */
    color: #ffffffe3;
    font-family: var(--fontTitle);
    transition: 600ms;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

header nav ul li a:hover {
    /* color: rgba(245, 245, 245, 0.9); */
    /* color: rgb(230, 230, 255, .9); */
    color: #3551cf;
}

.hamburger {
    display: none;
}

/* END HEADER */

/* MAIN */

.backgroundOneMain {
    background-image: url(../img/imgPrueba.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
    overflow: hidden;
}

.backgroundOneMain .conteiner {
    background-color: #0000007c;
    height: 100%;
    width: 100%;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backgroundOneMain .conteiner .btn {
    font-family: var(--fontTitle);
    color: rgb(252, 252, 252);
    text-decoration: none;
    background-color: #3551cf;
    width: max-content;
    padding: .6rem 4rem;
    border: 1px solid transparent;
    transition: 600ms;
    margin-top: 2rem;
}

.backgroundOneMain .conteiner .btn:hover {
    background-color: #5070ff73;
    border: 1px solid #fcfcfc;
}

.backgroundOneMain .conteiner .prOne {
    /* background-color: #a5a5a5; */
    height: max-content;
    display: flex;
    height: 100%;
    align-items: end;
    justify-content: center;
    margin-bottom: 6rem;
}

.backgroundOneMain .conteiner .prOne i {
    color: #5d78f5;
    font-size: 2.6rem;
    transition: 600ms;
}

.backgroundOneMain .conteiner .prOne i:hover {
    color: rgb(252, 252, 252)
}

.backgroundOneMain h1 {
    font-family: var(--fontTitle);
    font-size: 3.2rem;
    color: #3551cf;
}

.backgroundOneMain p {
    font-family: var(--fontP);
    color: rgb(255, 255, 255);
    margin-top: .6rem;
}

/* SECTION backgroundTwoMain */

.backgroundTwoMain {
    background-image: url(../img/imgPrueba2.jpg);
    background-size: cover;
    height: 100vh;
}

.backgroundTwoMain h2 {
    color: rgb(252, 252, 252);
    padding-top: 2rem;
    font-family: var(--fontTitle);
    text-align: center;
}

.backgroundTwoMain .lineHr {
    width: 20%;
    border-color: #3551cf;
    margin: 0 auto;
}